:root {
    --white: #FFFFFF;
    --yellow: #F9B000;
    --text: #12262F;
    --gray: #959595;
    --outline: #EDF4F4;
    --inside: #FAFCFC;
    --error: #E93D3D;
    --confirmed:#007FB6;
    --delivered:#59AA00;
    --grayf5:#f5f5f9;
    --grayd2:#d2d7d7;
    --grayd9:#d9dee3;
    --black566:#566a7f;
    --grayfb:#fbfbfb;
}
$white: #FFFFFF;
$yellow: #F9B000;
$text: #12262F;
$gray: #959595;
$outline: #EDF4F4;
$inside: #FAFCFC;
$error: #E93D3D;
$confirmed: #007FB6;
$delivered: #59AA00;
$grayf5: #f5f5f9;
$grayd2: #d2d7d7;
$grayd9: #d9dee3;
$black566: #566a7f;
$grayfb: #fbfbfb;