// text heading paragraph

.h1 {
    @include h1-heading($text);
}

.h2 {
    @include h2-heading($text);
}

.h3 {
    @include h3-heading($text);
}

.h4 {
    @include h4-heading($text);
}

.h5 {
    @include h5-heading($text);
}

.h6 {
    @include h6-heading($text);
}

.p1 {
    @include p1-paragraph($text);
}

.p2 {
    @include p2-paragraph($text);
}

.p3 {
    @include p3-paragraph($text);
}

.p4 {
    @include p4-paragraph($text);
}

// link
.link {
    @include p2-paragraph($confirmed, $family: 'QanelasSemiBold');
    text-decoration: none;
    display: flex;
    align-items: center;

    .link-content {
        margin: 0px 8px;
    }

    .pi {
        color: $yellow;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .pi {
            transform: translateX(5px);
        }
    }
}

.btn {
    justify-content: center;
    font-family: 'QanelasMedium';
    font-weight: 500;
    font-size: 16px;

    &.btn-success {
        background: #64CD82;
        border: 1px solid #64CD82;

        &:hover {
            background: #64CD82;
            border: 1px solid #64CD82;
        }
    }

    &.btn-danger {
        background: #db2727;
        border: 1px solid #db2727;

        &:hover {
            background: #db2727;
            border: 1px solid #db2727;
        }
    }

    &.small {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        padding: 0 15px;
    }

    &.orange-outline {
        background: transparent;
        border: 1px solid #FBB03B;
        color: #FBB03B;

        &:hover {
            background: transparent;
            border: 1px solid #FBB03B;
            color: #FBB03B;
        }
    }
}

.container {
    width: 100%;
    max-width: 1266px;
    margin: auto;
}

.icon24 {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

// chips
.chips {
    padding: 4px 14px;
    border-radius: 6px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px !important;
    font-family: 'QanelasMedium' !important;
    font-weight: 500;

    &.error {
        background-color: $error;
    }

    &.success {
        background: #EFF8EB;
        color: #59AA00;
    }

    &.danger {
        background: #FCF3F2;
        color: #D23D50;
    }

    &.confirmed {
        background: #F0F9FD;
        color: #27AAE2;
    }

    &.warning {
        background: #FFF6ED;
        color: #EE9C16;
    }

    &.delivered {
        background: #EFF8EB;
        color: #59AA00;
    }

    &.canceled {
        background: #FCF3F2;
        color: #D23D50;
    }

    &.returned {
        background: #fddeda;
        color: #ad2a3a;
    }
}

.tablefilterSubheader {
    padding: 24px 24px;
}

.tablefilterheader {
    .tableFilterCol {
        margin-left: 20px;
        width: 250px;

        .p-dropdown.p-component.p-inputwrapper {
            width: 100% !important;
        }
    }
}

.sidebarContentBody {
    .p-invalid {
        bottom: -11px !important;
    }
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: linear-gradient(90deg, #007FB6 -42.81%, #C08CFB 99.99%, #C08CFB 99.99%) !important;
}

.p-inputswitch .p-inputswitch-slider {
    outline: 0 !important;
    box-shadow: none !important;

}

.dilogbtns {
    display: flex;

    .btn {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff;
    background: #000;
    border-radius: 7px !important;
    height: 50px;
    padding: 11px 16px;
    justify-content: center;
    border: none;
}

.p-tabview .p-tabview-nav {
    border: none;
    padding: 20px 20px 0;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: unset;
    display: none !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.uploadProfileImage {
    position: absolute;
    background: #fff;
    width: 35px !important;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    bottom: -20px;
    box-shadow: 0 4px 2px 0 rgb(0 0 0 / 21%);
    cursor: pointer;
}

.itemListul {
    padding-left: 0;

    li {
        position: relative;
        list-style: none;
        padding-left: 34px;
        font-size: 14px;
        margin-bottom: 10px;
        font-family: "QanelasRegular";
        font-size: 14px;

        i {
            color: #27AAE2;
            left: 0;
            top: 5px;
            position: absolute;
        }
    }
}

.blankHeader .p-dialog-header {
    border-bottom: 0 !important;
    padding: 15px 20px 0 20px !important
}

button.btn {
    min-width: auto;
}

.p-tabview-nav-link {
    transition: background-color 0s, border-color 0s, box-shadow 0s !important;
}

.p-datepicker.p-component.p-connected-overlay-exit .p-connected-overlay-exit-active {
    width: 290px !important;
    min-width: inherit !important;
    display: none !important;
    opacity: 0;
}

.p-datepicker.p-component.p-connected-overlay-enter-done {
    z-index: 99999 !important;
    width: 290px !important;
    // min-width: 290px !important;
    // opacity: 1;
    // will-change: opacity;
    // transition: opacity 500ms;
    // opacity: 0;
    
}
.p-datepicker table td {
    padding: 4px;
    & > span {
        width: 30px;
        height: 30px;
        font-size: 13px;
        margin: 0 !important;
    }
}
.academic-calender {
    .p-button {
        color: #ffffff;
        background: #000;
        border: 1px solid #000;
    }
}
.custom-li-420{
    width: 100%;
    max-width: 405px;
}
.range-cal {
    justify-content: center;
    display: flex;
    .rmdp-arrow-container {
        width: 17px;
        height: 17px;
    }
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #4338CA;
    background: #4338CA;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #4338CA;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #4338CA;
    background: #4338CA;
}